################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/packages
/src/Bin
/src/Container/NotifyConsoleApp/obj
/src/Persistence/Persistence.Models/bin/Debug
/src/Persistence/Persistence.Models/obj
/src/Persistence/Persistence.Models.Mapper/obj
/src/Pipeline/Pipeline.AddInSideAdapters/obj
/src/Pipeline/Pipeline.Contracts/bin/Release
/src/Pipeline/Pipeline.Contracts/obj
/src/Pipeline/Pipeline.HostSideAdapters/obj
/src/Pipeline/Pipeline.ShareViews/obj
/src/Pipeline/PipelineBuilder/obj
/src/Pipeline/Scripts/Output
/src/Plugins/Plugin.Persistence.Console/obj
/src/Plugins/Plugin.Persistence.Database/obj
/src/Plugins/Plugin.Transformer.Xml/obj
/src/Widgets/Bin
/src/Widgets/Widget.Contracts/obj
/src/Widgets/Widget.DbContext.SqlServer/obj
/src/Widgets/Widget.FileSystemMessenger/obj
/src/Widgets/Widget.FileSystemProfile/obj
/src/Container/NotifyHangfireWeb/bin
/src/Container/NotifyHangfireWeb/obj
/src/Plugins/Plugin.Report/obj
/src/Plugins/Plugin.Transformer.Xml/bin
/src/Widgets/Widget.Contracts.Persistence/obj
/src/Widgets/Widget.Persistence/bin
/src/Widgets/Widget.Persistence/obj
/src/Plugins/Plugin.Kjt.Ningbo/bin
/src/Plugins/Plugin.Kjt.Ningbo/obj
/src/Plugins/Plugin.Transport.Folder/obj
/src/Plugins/Plugin.StatusTracking/obj
/src/Plugins/Plugin.Kjt.Alipay/obj
/src/Plugins/Plugin.Kjt.Tenpay/obj
/src/Plugins/Plugin.Kjt.Hefei/obj
