<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 --></configSections>
  <appSettings>
    <add key="Persistence" value="Persistence" />
    <add key="DbConnect" value="Data Source=rm-uf6056xd9r711yu6n6o.sqlserver.rds.aliyuncs.com,3433;Initial Catalog=Notify.Test;User ID=dbadmin;Password=2KpcjJcNtEQi" />
  </appSettings>
</configuration>